@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  overscroll-behavior: none;
}