@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #111827;

  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
}

@media (min-width: 768px) {
  html {
    overscroll-behavior: none;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}